.encabezado{
    display: flex;
    background-image: url(../assets/img/librosbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 80vh;
    width: 100vw;
    align-items: center;
    justify-content: center;

}

