.info {
    font-family: "belanosima";
    font-size: 18px;


    color: #EFF5F5;
    background-color: #00425A;
    width: 100vw;
    padding-top: 20px;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: #EFF5F5;
        }
    }

}