.info{ 
    font-family: "belanosima";
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    color: #181823;
    background-color: #00425A;
    height: 225px;
    width: 100vw;
    }